@CHARSET "UTF-8";

body {
  background-color: #f1f1f1;
  font-size: 16px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align: left;
}

header,main, footer {
  margin: 10px auto;
  width: 80%;
  max-width: 800px;
  display: block;
}

ul {
  list-style-type: none;
  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  margin-bottom: 40px;
  margin-left: 0;
  text-align: right;
}

nav ul li {
  display: inline-block;
  font-size: 100%;
}

#actual{
  padding: 3px;
  background-color: #FFCC00;
  border: #000000;
  border-style:solid;
}

nav ul li:first-child {
  margin-right: 40px;
}
nav ul li:last-child {
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #000000
}
