<h2>
  Update User
</h2>

<input type="hidden" value="{{userChosen.email}}">

<p>
  <label for="firstName">First name:</label>
  <input [(ngModel)]="userChosen.firstName"
         type="text" name="firstName"
         id="firstName"
         value="{{userChosen.firstName}}">
</p>
<p>
  <label for="lastName">Last name:</label>
  <input [(ngModel)]="userChosen.lastName"
         type="text" id="lastName"
         name="lastName"
         value="{{userChosen.lastName}}">
</p>
<p>
  <label for="gender">Gender</label>
  <select [(ngModel)]="userChosen.gender" id="gender" name="gender" value="{{userChosen.gender}}">>
    <option name="m">Male</option>
    <option name="f">Female</option>
    <option name="o">Other</option>
  </select>
</p>
<p>
  <label for="age">Age:</label>
  <input [(ngModel)]="userChosen.age"
         type="number" id="age"
         name="age"
         value="{{userChosen.age}}">
</p>
<button (click)="update()">update user</button>
